* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}

.section_1 {
    display: flex;
    flex-direction: column;
    padding: 141px 222px 133px 183px;
}

.p_s {
    margin-bottom: 30px;
}

.p_1 {
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
    margin-bottom: 41px;
    color: #4A2513;
}

.p_2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;

    color: #4A2513;
    margin-bottom: 1px;
}

.p_3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */

    display: flex;
    align-items: center;
    width: 523px;
    color: #4A2513;
}

.img_s {
    height: 880px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.ps {
    font-weight: 400;
    font-size: 48px;
    line-height: 99px;
    /* identical to box height */


    color: #3D2922;

}

.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_1 {
    width: 330px;
    height: 373px;
}

.img_2 {
    width: 332px;
    height: 373px;
}

.new {
    max-width: 1440px;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_3 {
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgba(40, 17, 10, 0.5), rgba(40, 17, 10, 0.5)), url(image.png);
    display: flex;
    align-items: center;
    flex-direction: row;
}


.sec_3left img {
    width: 528px;
}


.sec_3right p {
    font-weight: 400;
    font-size: 72px;
    line-height: 36px;

}



.sec_3right {
    padding-left: 56px;
}